.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;

    &.focused {
        background-color: #e6e6e6;
    }

    &.range, &:hover {
        background-color: rgb(2, 117, 216);
        color: white;
    }

    &.faded {
        background-color: rgba(2, 117, 216, 0.5);
    }
}

ngb-datepicker{
    &.mobile{
        width: 100%;
        &::ng-deep{
            .ngb-dp-month{
                width: 100%;
            }

            .ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday {
                width: 14.28%;
                display: flex;
                justify-content: center;
            }
        }
    }
}
